.container{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 30%;
}
.kotak{
    height: 500px;
    width: 150px;
    border: 1px solid;
}
.kuning{
background-color: yellow;
width: 100px;
height: 450px;
}
.oren{
background-color: orange;
width: 100px;
height: 450px;
}
.hijau{
background-color: green;
width: 100px;
height: 450px;
}
.biru{
background-color: aqua;
width: 100px;
height: 450px;
}
